/*
    CSS for squared buttons
*/

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active,
.btn-outlined.btn-primary-selected{
    color: #FFF;
    background: #428bca;
    border-color: #428bca;
}

.btn-outlined.btn-success {
    background: none;
    border: 3px solid #47a447;
    color: #47a447;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active,
.btn-outlined.btn-success-selected {
    color: #FFF;
    background: #47a447;
}

.btn-outlined.btn-info {
    background: none;
    border: 3px solid #39b3d7;
    color: #39b3d7;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active,
.btn-outlined.btn-info-selected{
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 3px solid #ed9c28;
    color: #ed9c28;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active,
.btn-outlined.btn-warning-selected{
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 3px solid #d2322d;
    color: #d2322d;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active,
.btn-outlined.btn-danger-selected{
    color: #FFF;
    background: #d2322d;
}
/*Get rid of the shadows*/
.btn{
    text-shadow: 0 0 #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0 0 #fff;
}
/*
    END CSS for Squared Buttons
*/


/*
    Bootstrap-select modifications
*/
/*Prevent that stupid spillover
  when large values exist in the list*/
#user{
    width: 100%;
}

.bootstrap-select{
    width: 100%;
    max-width: 100% !important;
}
/*
    END Bootstrap-select mods
*/


/*
    Jonathan's Personal Design Stuff
*/
hr{
    margin: 10px 0 10px 0;
}

.btn{
    border-radius: 0;
}

.btn-default{
    background: none;
    border: 3px solid #4f38ff;
    color: #4f38ff;
}

.dropdown-toggle.btn-default:hover{
    background-color: #4f38ff !important;
    color: #fff !important;
}

.btn-default:hover,
.btn-default:active{
    color: #FFF;
    background: #4f38ff;
    border-color: #4f38ff;
}

.form-control{
    border-radius: 0;
    border: 3px solid #4f38ff;
}

.filter-option{
    text-align: center !important;
}

.btn-default:focus, .dropdown-toggle.btn-default{
    background: none !important;
    border: 3px solid #4f38ff !important;
    color: #4f38ff !important;
}

textarea{
    width: 100%;
    height: 50vh;
    overflow: auto;
}

.bootstrap-select{
    width: 100% !important;
}

.dropdown-menu>.active>a{
    background: #4f38ff none;
}

.container{
    display:none;
}

.btn{
    padding: 3px 6px;
}

/*Get rid of whitespace at the top*/
body{
	padding-top:10px;
}

/*Get rid of whitespace after command Row*/
#applicationHeader{
	margin: -10px;
}

/*Reduce whitespace associated with hr separators*/
hr{
	margin: 5px 0 10px 0;
}

.resultsContainer{
    display: none;
}

#mainSite{
    display:none;
}

.listControl{
    display:none;
}

label{
    font-size: small;
}

.reportContainer{
    display:none;
}

.table {
    table-layout:fixed;
}

.table td, .urlEntity{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr, td{
    height: 15px;
    padding: 2px !important;
}

.tableContainer{
    overflow-y: auto;
    max-height: 78vh;
}

.table>tbody>tr>td{padding: 2px;}
.table>tbody>tr>th{padding: 2px;}

#dbSelect{
    width: 70%;
    padding: 0 2% 0 2%;
}

.noSierrraCounter{
    width: 3%
}
.noSierraUrl{
    width: 43%
}
.urlCode{
    width: 5%;
    font-size: 75%;
    vertical-align: top;
    padding-top: 5px;
}
.resolverButtonColumn{
    width: 3%
}

.resolverButton{
    padding: 0 2% 0 2%;
    width: 70%
}

table tr:nth-child(even){
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
table tr:nth-child(odd){
    border-top: 1px solid #ddd;
    background-color: white;
}

.sierraBib{
    width: 10%;
}

.sierraUrl{
    width: 39%;
}

#processButton{
    display: none;
}

#userListContainerLabel{
    display: none;
}

#userList{

}

#urlPastebin{
    white-space: nowrap;
}

/*
DATEPICKER
*/
/*Make data picker span outlined and disable select*/
span{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/*Stop the stupid highlighting on available dates*/
.available{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    border-radius: 0;
}

/*Stop the stupid highlighting on unavailable dates*/
.unavailable{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    border-radius: 0;
}

.ranges>li{
    border-radius: 0;
}

.applyButton, .cancelButton{
    border-radius: 0;
}

/*Square buttons override custom date picker*/

.ranges li,
.daterangepicker,
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.inactive,
.daterangepicker td.start-date,
.daterangepicker td.end-date,
.daterangepicker td.available:hover,
.daterangepicker td.start-date.end-date,
.daterangepicker .input-mini.active,
.daterangepicker .input-mini {border-radius: 0;}
/*NOTE! class available doesn't reach the DOM until the daterangepicker object has been
instantiated and placed into an assigned parent element*/
.daterangepicker td.in-range available{background-color: rgb(204, 242, 255);}
.ranges li , .ranges li.active{
    background: none;
    border: 2px solid #428bca;
    color: #428bca;
}
.ranges li:hover , .ranges li.active:hover{
    color: #FFF;
    background: #428bca;
    border: 2px solid #428bca;
}
.cancelBtn{
    margin-left: 35px
}
/*
    END Jonathan Personal
*/
